@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div>
    <form method="post" action="/Home/Showform2 " method="post">

            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required />
            <br />
            <label for="Age">Age:</label>
            <input type="Age" id="Age" name="Age" required />
            <br />

            <label for="Grade">Grade:</label>
            <input type="Grade" id="Grade" name="Grade" required />

            <br />
            <label for="Price">Price:</label>
            <input type="Price" id="Price" name="Price" required />
            <br />
            <input type="submit" value="Submit" />
        </form>
  
</div>

