@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about ASP .net from begining <a href="">building Web apps with ASP.NET Core</a>.</p>
    <h2>Student information</h2>
    <a href=~/Home/studentinfo>student information
        </a>
</div>
@* 10 *@
<div>
    <a href="/Home/Formshow"</a>Show Form Data click there </a>
</div>

<div>
    <a href="/Home/helper1"</a>/Home/helper1</a>
</div>
