@model Firstyoutubeproject.Models.student   
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div>
    <h1>Form Data Received</h1>
    <h3>Username:@Model.Name </h3>
    <h3>Age: @Model.Age </h3>
    <h3>Grade: @Model.Grade </h3>
    <h3>Price: @Model.Balance </h3>
</div>

@* controller(call Fromshow) --->view(call Showfrom)--->controller-->model(s object)
                                                         |
                                                         |-------->view                   *@